body{
  background-color: grey;
  text-align: center;
  margin-top: 150px;
}
h1{
  color: white;
  font-size: 90px;
  text-align: center;
}
h4{
  color:white;
  font-size: 50px;
}
.form,
.greetings{
  display:none;

}
.showing{
  display:block;
}

@@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}
.bgimage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
.li{
  color: #848484;
  font-size: 20px;
  margin-left: 600px;
  text-align: left;

}
.btncolor{
  color: black;
}
